{
  "extends": [
      "eslint-config-kingstinct/react-native"
  ],
  "rules": {
      "no-console": 1,
      "@typescript-eslint/sort-type-union-intersection-members": 0,
      "@typescript-eslint/no-unused-vars": 1,
      "import/no-unresolved": 0,
      "import/extensions": 0,
      "@typescript-eslint/no-shadow": 1
  },
  "ignorePatterns":[
    "**/*.generated/**/*.ts",
    "**/gql/**/*.ts"
  ],
  "overrides": [
        {
            "files": ["*.graphql"],
            "rules": {
                "comment-length/limit-single-line-comments": 0
            }
        },
      {
          "files": ["*.ts", "*.tsx"],
          "rules": {
              "@typescript-eslint/no-unsafe-enum-comparison": 1,
              "@typescript-eslint/no-redundant-type-constituents": 1
          },
          "excludedFiles": ["**/*.generated/**/*.ts"]
      }
  ]
}
