{
  "extends": [
      "./packages/eslint/react-native.js"
  ],
  "rules": {
      "no-console": 2,
      "@typescript-eslint/sort-type-union-intersection-members": 0,
      "@typescript-eslint/no-unused-vars": 1,
      "import/no-unresolved": 0,
      "import/extensions": 0,
      "@typescript-eslint/no-shadow": 1,
      "no-nested-ternary":0,
      "@typescript-eslint/require-await": 0
  },
  "ignorePatterns":[
    "**/*.generated/**/*.ts",
    "*.js"
  ],
  "overrides": [
        {
            "files": ["*.graphql"],
            "rules": {
                "comment-length/limit-single-line-comments": 0
            }
        },
      {
          "files": ["*.ts", "*.tsx"],
          "rules": {
              "@typescript-eslint/no-unsafe-enum-comparison": 1,
              "@typescript-eslint/no-redundant-type-constituents": 1
          },
          "excludedFiles": ["**/*.generated/**/*.ts"]
      }
  ]
}
