name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        os: [ubuntu-latest, macos-latest]
    with:
      os: ${{ matrix.os }}
    secrets: 
      TEST_PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
      TEST_PUBLIC_KEY: ${{ secrets.TEST_PUBLIC_KEY }}
  release:
    needs: test
    name: Release
    runs-on: ubuntu-latest
    env:
      MONGOMS_DISABLE_POSTINSTALL: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: cardinalby/export-env-action@v2
        with:
          envFile: .env.github

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: ${{ env.BUN_VERSION }}

      - run: HUSKY=0 bun install --concurrent-scripts 1 --ignore-scripts
        env:
          HUSKY: 0
          
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: bun run changeset-release

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}